<div id="webchat" role="main"></div>
<script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
<script>
    (async function () {
        const store = window.WebChat.createStore({}, ({ dispatch }) => next => action => {
        if (action.type === 'DIRECT_LINE/CONNECT_FULFILLED') {
            dispatch({
                type: 'WEB_CHAT/SEND_EVENT',
                payload: {
                    name: 'webchat/join',
                    value: {
                        language: window.navigator.language
                    }
                }
            });
        }
        return next(action);
        });

        const fetchCredentials = {
            authorizationToken: '@ViewData["SpeechServiceAuthorizationToken"]',
            region: '@ViewData["SpeechServiceRegionIdentifier"]'
        };

        const adapters = await window.WebChat.createDirectLineSpeechAdapters({
            fetchCredentials
        });

        const settings = {
            locale: '@ViewData["Locale"]',
            store
        };

        window.WebChat.renderWebChat(
            {
                ...adapters,
                ...settings
            },
            document.getElementById('webchat'));

        document.querySelector('#webchat > *').focus();
    })().catch(err => console.error(err))
</script>